.textscroll-container {
    overflow: hidden;
    width: 100%;
}

.textscroll {
    text-transform: uppercase;
    font-size: 8rem;
    font-family: $secondary-font;
    width: 690rem;
    margin: 0 2rem;
    text-transform: uppercase;

    &-right {
        
        & > * {
            display: inline-block;
            animation: textscroll-right 20s infinite linear;
        }
    }

    &-left {
        & > * {
            display: inline-block;
            animation: textscroll-left 20s infinite linear;
        }
    }

    &--grey {
        color: $dark-grey-color;
    }
}

@keyframes textscroll-right {
    0% {transform: translateX(0);}
    100% {transform: translateX(-413.5rem);}
}

@keyframes textscroll-left {
    0% {transform: translateX(-413.5rem);}
    100% {transform: translateX(0);}
}