// TEXTSCROLL MAIN

.textscroll_main {
    padding-top: 10rem;
    padding-bottom: 5rem;
}

// TEXTSCROLL

.textscroll-container {
    overflow: hidden;
    width: 100%;
}

.textscroll {
    text-transform: uppercase;
    font-size: 8rem;
    font-family: $secondary-font;
    width: $text-scroll;
    margin: 0 2rem;
    text-transform: uppercase;

    &-collection {
        width: $text-scroll-collection;
    }

    &-right {
        
        & > * {
            display: inline-block;
            animation: textscroll-right 20s infinite linear;
        }
    }

    &-left {
        & > * {
            display: inline-block;
            animation: textscroll-left 20s infinite linear;
        }
    }

    &--grey {
        color: $dark-grey-color;
    }
}