.header {

    @include center;
    flex-direction: column;
    font-family: $secondary-font;
    border-bottom: 1px solid #000;

    &-heading {
        font-size: 20rem;
        font-weight: normal;
    }

    &-paragraph {
        font-size: 3rem;
        font-weight: normal;
        margin-top: -4rem;
        margin-bottom: 4rem;
    }

}