$primary-color: #F5F2F0;
$secondary-color: #C02E2E;
$secondary-color-light: #CD5F5E;
$grey-color: #6E6F6E;
$dark-grey-color: #82807F;
$white-red: #EED7D4;

$language-width: 20%;
$icon-width: 15%;

$secondary-font: 'Glysa', sans-serif;

$text-scroll: 280rem;
$text-scroll-collection: 310rem;

$style-btn-width: 27.5rem;
$style-btn-height: 14.3rem;